<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         stopOnFailure="false" bootstrap="tests/_bootstrap.php">
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration Test Suite">
            <directory>./tests/Integration/Tests</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="Yiisoft\Composer\Config\Tests\Integration\Hooks\CopyPackageBeforeRunTestsHook"/>
        <extension class="Yiisoft\Composer\Config\Tests\Integration\Hooks\ComposerUpdateHook"/>
        <extension class="Yiisoft\Composer\Config\Tests\Integration\Hooks\RebuildHook"/>
        <extension class="Yiisoft\Composer\Config\Tests\Integration\Hooks\RemovePackageAfterTestsHook"/>
    </extensions>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
